<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <% if(errorMessage){ %>
    <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <div class="login-container">
      <h2>Login</h2>
      <form action="/login" method="POST" novalidate>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />

        <button type="submit">Login</button>
      </form>
    </div>
    <button><a href="/page2">Back to Homepage</a></button>
    <button><a href="/reset-password">Reset Password</a></button>
  </body>
</html>
