<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password Form</title>
  <link rel="stylesheet" href="/css/resetPasswordForm.css">
</head>
<body>
  <div class="container">
    <div class="reset-password-box">
      <h2>Reset Password</h2>
      <form action="/after-reset-password" method="POST">
        <div class="input-group">
          <label for="password">Reset Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Reset Password</button>
        <button><a href="/">Back to Homepage</a></button>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passToken" value="<%= passToken %>">
      </form>
    </div>
  </div>
</body>
</html>
